<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_CustomerDocuments>
            <version>1.0.2</version>
        </Webgriffe_CustomerDocuments>
    </modules>
    <global>
        <models>
            <webgriffe_customerdocuments>
                <class>Webgriffe_CustomerDocuments_Model</class>
                <resourceModel>webgriffe_customerdocuments_resource</resourceModel>
            </webgriffe_customerdocuments>
            <webgriffe_customerdocuments_resource>
                <class>Webgriffe_CustomerDocuments_Model_Resource</class>
                <entities>
                    <document>
                        <table>customer_document</table>
                    </document>
                </entities>
            </webgriffe_customerdocuments_resource>
        </models>
        <blocks>
            <webgriffe_customerdocuments>
                <class>Webgriffe_CustomerDocuments_Block</class>
            </webgriffe_customerdocuments>
        </blocks>
        <helpers>
            <webgriffe_customerdocuments>
                <class>Webgriffe_CustomerDocuments_Helper</class>
            </webgriffe_customerdocuments>
        </helpers>
        <resources>
            <webgriffe_customerdocuments_setup>
                <setup>
                    <module>Webgriffe_CustomerDocuments</module>
                </setup>
            </webgriffe_customerdocuments_setup>
        </resources>
        <events>
            <webgriffe_customerdocuments_document_save_after>
                <observers>
                    <send_mail_after_document_creation>
                        <class>webgriffe_customerdocuments/observer</class>
                        <method>sendMailAfterDocumentCreation</method>
                    </send_mail_after_document_creation>
                </observers>
            </webgriffe_customerdocuments_document_save_after>
        </events>
        <template>
            <email>
                <customer_documents_new_document_email_template translate="label">
                    <label>New customer document</label>
                    <file>webgriffe_customerdocuments/document_new.html</file>
                    <type>html</type>
                </customer_documents_new_document_email_template>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgriffe_customerdocuments>
                    <file>webgriffe_customerdocuments.xml</file>
                </webgriffe_customerdocuments>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webgriffe_CustomerDocuments>
                    <files>
                        <default>Webgriffe_CustomerDocuments.csv</default>
                    </files>
                </Webgriffe_CustomerDocuments>
            </modules>
        </translate>
        <routers>
            <webgriffe_customerdocuments>
                <use>standard</use>
                <args>
                    <module>Webgriffe_CustomerDocuments</module>
                    <frontName>customer_documents</frontName>
                </args>
            </webgriffe_customerdocuments>
        </routers>
    </frontend>
    <default>
        <customer>
            <documents>
                <new_document_email_template>customer_documents_new_document_email_template</new_document_email_template>
                <new_document_email_sender>sales</new_document_email_sender>
            </documents>
        </customer>
    </default>
</config>
